
.important{
    border-style: solid;
    border-width: 2 px;
    width:95%;
    border-color:#EBB02D;
    position:relative;
    top:30px;
    left:30px;
    border-radius:25px;
}
.Second-heading{
    color:red;
    position:relative;
    left:20px;
}
.top-container{
    background-color:#97DECE;
    width:95%;
    height:200px;
    border:solid;
    border-width:3px;
    border-color:#439A97;
    display:inline-block;
    text-align:center;
    border-radius:25px;
    position:relative;
    top:10px;
    left:30px;
}
.top-heading{
    display:inline-block;
    text-align:center;
    color:#227C70;
    font-size:100px;
    position:relative;
    bottom:30px;
    left:40px;
    
}
.logo{
    
    background-color:#97DECE;
}
.items{
    position:relative;
    top:50px;
    left:100px;
}
.bottomlist{
    background-color: aliceblue;
    display: flex;
}
