body{
    margin: 0;
}

.important{
    border-style: solid;
    border-width: 2 px;
    width:95%;
    border-color:#EBB02D;
    position:relative;
    top:30px;
    left:30px;
    border-radius:15px;
}
.Second-heading{
    color:red;
    position:relative;
    left:20px;
}
.top-container{
    background-color:#97DECE;
    width:95%;
    height:200px;
    border:solid;
    border-width:3px;
    border-color:#439A97;
    display:inline-block;
    text-align:center;
    border-radius:15px;
    position:relative;
    top:10px;
    left:30px;
}
.top-heading{
    display:inline-block;
    text-align:center;
    color:#227C70;
    font-size:100px;
    position:relative;
    bottom:30px;
    left:40px;
    
}
.logo{
    
    background-color:#97DECE;
}
.bottomlist{
    background-color: aliceblue;
    display: flex;
}

.cold-drink{
    position:relative;
    top: 0px;
    left:16px;
    width:90px;
    height:90px;
   
   display:inline-block;
   border-radius:10px;
}
.juice{
    position:relative;
    bottom:0px;
    left:24px;
    width:90px;
    height:90px;
   display:inline-block;
}
.ice{
    position:relative;
    left:32px;
    width:90px;
    height:90px;
   display:inline-block;
}
.wafers{
    position:relative;
    top:0px;
    left:40px;
    width:90px;
    height:90px;
   display:inline-block;
}
.cake{
    position:relative;
    left:48px;
    width:90px;
    height:90px;
   display:inline-block;
}
.block-2{
    position:relative;
    top:200px;
}
.block-3{
    position:relative;
    top:200px;
}
.items{
    position:relative;
    top:80px;
    left: 32.5%;
    width:500px;
    height:150px;
    background-color: white;
}
.img1{
    position:relative;
    left:0px;
    bottom:5px;
    right:1px;
    display:inline-block;
}
.img2{
    position:relative;
    bottom:5px;
    right:5px;
    display:inline-block;
}
.img3{
    position:relative;
    left:0px;
   bottom:2px;
    display:inline-block;
}
.img4{
    position:relative;
    bottom:5px;
    display:inline-block;
}
.img5{
    position:relative;
    bottom:5px;
    display:inline-block;
}
.head5{
    position:relative;
    bottom:40px;
    left:30px;
}
.head4{
    position:relative;
    bottom:40px;
    left:24px;
}
.head3{
    position:relative;
    bottom:40px;
    left:14px;
}
.head1{
    position:relative;
    bottom:40px;
    left:9px;
}
.head2{
    position:relative;
    bottom:40px;
    left:28px;
}
.button1{
    position:relative;
    width:90px;
    height:90px;
    background-color: white;
    border:solid;
    border-width:3px;
    border-color:#227C70;
    border-radius:10px;
}
.button2{
    position:relative;
    width:90px;
    height:90px;
    background-color: white;
    border:solid;
    border-width:3px;
    border-color:#227C70;
    border-radius:10px;
}
.button3{
    position:relative;
    width:90px;
    height:90px;
    background-color: white;
    border:solid;
    border-width:3px;
    border-color:#227C70;
    border-radius:10px;
}
.button4{
    position:relative;
    width:90px;
    height:90px;
    background-color: white;
    border:solid;
    border-width:3px;
    border-color:#227C70;
    border-radius:10px;
}
.button5{
    position:relative;
    width:90px;
    height:90px;
    background-color: white;
    border:solid;
    border-width:3px;
    border-color:#227C70;
    border-radius:10px;
}
.button1:hover{
    background-color: #227C70;
}
.button2:hover{
    background-color: #227C70;
}
.button3:hover{
    background-color: #227C70;
}
.button4:hover{
    background-color: #227C70;
}
.button5:hover{
    background-color: #227C70;
}

.bottomlist{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45 px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}

.container{
    position:relative;
    min-height: 700px;
}

#drinks_menu{
    position: absolute;
    left: 13%;
}

#juice_menu{
    position: absolute;
    left: 13%;
}

#ice_cream_menu{
    position: absolute;
    left: 13%;
}

#crisps_menu{
    position: absolute;
    left: 13%;
}

#cake_menu{
    position: absolute;
    left: 13%;
}

.blockdiv{
    display: inline-block;
    position:relative;
    top:80px;
}
.last{
    text-align: center;
    font-size: smaller;
    position: relative;
    top: auto;
}
footer{
    display: relative;
    left: 0px;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #97DECE;
}
footer{
    background: #227C70;
}
.new{
    display: inline-block;
    position: relative;
    color: #97DECE;
    background-color: #227C70;
    padding: 40 px;
}

.divide{
    text-align: center;
    display: flex;
    justify-content: space-between;
    }

