div1{
    box-sizing: border-box;
    margin:0;
    padding: 0%;
    background-color: whitesmoke;
    
}
.class1, .link1, .but1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 3px 10px 0 rgba(0,0,0,.19);

}
.logo1{
    cursor: pointer;
}
.options{
    list-style: none;
}
.options .list1{
    display:inline-block;
    padding: 0px 20px;
}
.options .list1 .login{
    transition:all 0.3s ease 0s;
}
.options .list1 .login:hover {
   color: #2E4F4F;
}
.but1{
    padding: 9px 25px;
    background-color: #CBE4DE;
    border: 2px;
    border-radius: 50px;
    border-style: solid;
    border-color: #2E4F4F;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}
.but1:hover{
    background-color: #2E4F4F;
}
.div1{
    background-color:white;
}